
@import url('https://fonts.googleapis.com/css2?family=Mozilla+Headline:wght@200..700&display=swap');
body {
  margin: 0;
 padding: 0;
 letter-spacing: 1px;
 height: 800px ;
 background: linear-gradient(to bottom right , #dbeafe, #78b2f5);
 background-repeat: no-repeat;
}

.logo-container{
font-family: "Mozilla Headline", sans-serif;
font-size: 25px;
color:#104976;
}
.form-container{
  background-color: aliceblue;
  width: 35%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  padding: 10px;
  height: 400px;
  color:#104976;
 
}
.form-container h1{
  font-family: "Mozilla Headline", sans-serif;
}
.form-container input[type="text"],
.form-container  select  {
  padding: 10px ;
  border-radius: 12px;
  border: 1px solid #cbd5e1;
  font-size: 16px;
  
  margin-right: 10px; 
}
.form-container button {
  padding: 10px 20px;
  border: none;
  border-radius: 12px;
  background: linear-gradient(to right, #3b82f6, #2563eb);
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.form-container button:hover {
  background: linear-gradient(to right, #2563eb, #1e40af);
  transform: translateY(-2px);
  box-shadow: 0 6px 15px rgba(37, 99, 235, 0.4);
}




footer {
  background-color: #76c7ad;
  text-align: center;
  padding: 13px;
   color: #5a3e2b;
   font-size: 20px;
}
