@import url("https://fonts.googleapis.com/css2?family=Mozilla+Headline:wght@200..700&display=swap");
body {
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
  height: 680px;
  background: linear-gradient(to bottom right, #dbeafe, #78b2f5);
  background-repeat: no-repeat;
}

.logo-container {
  font-family: "Mozilla Headline", sans-serif;
  font-size: 25px;
  color: #104976;
}
.list-container {
  background-color: aliceblue;
  width: 35%;
  margin: 10px auto;
  height: 250px;
  color: #104976;
  border-radius: 20px;
  font-family: "Mozilla Headline", sans-serif;
  padding: 20px;

}
.list{
    display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.form-container {
  background-color: aliceblue;
  width: 35%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  padding: 20px;
  height: 150px;
  color: #104976;
  font-family: "Mozilla Headline", sans-serif;
}
.form-container h1 {
  font-family: "Mozilla Headline", sans-serif;
}
.form-container input,
 select {
  padding: 10px;
  border-radius: 12px;
  border: 1px solid #cbd5e1;
  font-weight: 700;
  font-size: 16px;
   font-family: "Mozilla Headline", sans-serif;
  margin-right: 10px;
   color: #104976;
}

.form-container button ,.clear-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 12px;
  background: linear-gradient(to right, #3b82f6, #2563eb);
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}
.list button {
  border: transparent;
  cursor: pointer;
  background-color: aliceblue;
  margin-right: 20px;
}

.form-container button:hover {
  background: linear-gradient(to right, #2563eb, #1e40af);
  transform: translateY(2px);
  box-shadow: 0 6px 15px rgba(37, 99, 235, 0.4);
  
}

footer {
  background-color: #186aa8;
  text-align: center;
  padding: 13px;
  color: #e4e4e4;
  font-size: 20px;
  position: relative;
  top: 80px;
  font-size: 20px;
}
.action {
  position: absolute;
  top: 640px;
  right: 590px ;
}
.clear-btn:hover{
  background: linear-gradient(to right, #2563eb, #1e40af);
  transform: translateY(2px);
  box-shadow: 0 6px 15px rgba(37, 99, 235, 0.4);
}